.about {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  color: white;
  /* padding-top: 80px; */
  align-items: center;
}
.about_me,
.about_contact {
  width: 60%;
}
.about_resume {
  display: flex;
  justify-content: space-between;
}

.about_resume > button {
  flex-shrink: 0;
  display: flex;
  background-color: #1a1a1a;
  border: 2px solid white;
  font-weight: bold;
  /* width: 100%; */
  padding: 13px;
  height: max-content;
  color: white;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  margin: auto;
  /* justify-content: center; */
  outline: none;
}
.about_resume > button:hover {
  background-color: white;
  color: #444444;
  border: none;

  outline: none;
}
p {
  color: rgb(197, 197, 197);
  font-size: 1rem;
  margin-bottom: 50px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 5px;
}
@media screen and (max-width: 900px) {
  .about_resume {
    display: block;
  }
  .about_resume > p {
    margin-bottom: 10px;
  }
  .about_resume > button {
    /* margin: 0px; */
  }
  p {
    margin-bottom: 20px;
  }
  h2 {
    line-height: 0px;
    margin-bottom: 10px;
    line-height: 0px;
    width: max-content;
  }
}
