.modal-body {
  background-color: #000;
  text-align: center;
  align-items: center;
  opacity: 1;
}
.modal-body > img,
.img-fluid {
  opacity: 1;
}
button {
  color: #1a1a1a;
  outline: none !important;
}
.modal-footer {
  justify-content: space-between;
}
button > a {
  text-decoration: none !important;
  color: white;
  font-weight: 700;
}
button > a:hover {
  text-decoration: none !important;
  color: #1a1a1a;
}
