.row {
  margin-left: 20px;
  margin-top: 23px;
  color: white;
}
.row_poster {
  cursor: pointer;
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  color: white;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
.movie_body {
  display: flex;
  flex-direction: column;
  width: 192px;
}
.movie_name {
  font-size: 16px;
  width: 192px;
  text-align: center;
  margin-top: 15px;
  font-weight: normal;
}
