.feed {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 19px;
  margin-left: 26px;
  /* padding: 30px 150px; */
}
@media screen and (max-width: 700px) {
  .feed {
    display: block;
    width: 65%;
    width: 80%;
  /* margin-left: 0px; */

    /* flex: 1 1; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 11px 2px;
  }
}
