.fb_logo {
  height: 40px;
}
.fb_altlogo {
  display: none;
}
.header_left {
  display: flex;
  justify-content: space-evenly;
}
.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
}
.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.header_options > .MuiSvgIcon-root {
  color: grey;
}
.header_options:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header_center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header_options {
  display: flex;
  align-items: center;
  padding: 0 39px;
  /* padding: 0 30px; */
  cursor: pointer;
  margin-left: 13px;
  /* margin-left: 0px; */
}
.header_options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0, 30px;
  border-bottom: none;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 10px;
}
.header_right {
  display: flex;
}
.header_options--active > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header_options--active {
  border-bottom: 4px solid #2e81f4;
}
@media screen and (max-width: 700px) {
  .header_left {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
 
  .fb_logo {
    display: none;
  }
  .fb_altlogo {
    display: flex;
    height: 27px;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 55px;
  }
  .header {
    display: block;
    width: 138%;
    overflow-x: hidden;
  }
  .header_right {
    display: none;
  }
  .header_center {
    justify-content: center;
  }
  .header_options {
    display: flex;
    /* width: 5%; */
    justify-content: left;
    align-items: left;
    /* padding: 0 39px; */
    padding: 0px 25px;
    cursor: pointer;
    /* margin-left: 13px; */
    margin-left: -6px;
    margin-top: 3px;
    position: relative;
    left: 21px;
  }
  .header_input{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
    position: relative;
    right: -246px;
    top: -7px;
  }
}

/* @media screen and (max-height:500px){
.header_options{
display: flex;
    
    align-items: left;
    padding: 0px 39px;
    cursor: pointer;
    margin-left: 13px;
    margin-left: -21px;
    margin-top: 3px;
    position: relative;
    left: 8px;}
    .header{
      width:94%;
    }
  .header_input{
    display: flex;
    justify-content: space-between;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
    position: relative;
    right: -303px;
    top: -7px;
  }} */