.login > div {
  display: flex;
  flex-direction: column;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
}
.login > div > img:last-child {
  height: 50px;
  margin-top: 50px;
}
.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
}
.login > .button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
}
.login > .button:hover {
  background-color: white;
  color: #2e81f4;
}

@media screen and (max-width: 1200px) {
  .login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
    margin-top: 0%;
    /* height: auto; */
  }
  .login > .button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    margin-top: 23px;
    align-items: center;
    text-align: center;
    /* margin-left: 59px; */
  }
}
@media screen and (max-height:1080px){
  
  .login {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 0%;
    
  }
  .login > .button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    margin-top: 23px;
    align-items: center;
    text-align: center;
    /* margin-left: 59px; */
  }
}

