.messengerSender {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}
.messenger_top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}
.messenger_top > form {
  flex: 1;
  display: flex;
}
.messenger_top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}
.messenger_top > form > button {
  display: none;
}
.messenger_bottom {
  display: flex;
  justify-content: space-evenly;
}
.messenger_options {
  padding: 20px;
  display: flex;
  align-items: center;
  color: grey;
  margin: 5px;
}
.messenger_options > h3 {
  font-size: medium;
  margin-left: 10px;
}
.messenger_options:hover {
  background-color: #eff2f5;
  border-radius: 20px;
}
.messenger_input {
  flex: 1;
}
@media screen and (max-width:1200px){
  .messenger_options{
    padding: 4px;
  }
  /* .messenger_top{
    padding: 4px;
  } */
  .messenger_top > form > input {
  outline-width: 0;
    border: none;
    padding: 12px;
    /* padding: 5px 20px; */
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;}
    .messenger_options{
      padding: 0px;
    }
    .messenger_top form input.messenger_input{
margin-left: 4px;

    }
    .messenger_top form input.imageUrl{
    margin-left: -6px;
   width:19%;
    padding: 10px;
    }

}
