* {
  margin: 0;
}
.post_header {
  background-color: #fafafa;
}
.app_header {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.login_form {
  display: flex;
  flex-direction: column;
}
.app_headerImage {
  object-fit: contain;
}
.app_posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.error_msg {
  margin-top: -13px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
