.imageupload {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image_upload_progress {
  width: 100%;
}

@media (max-width: 580px) {
  .imageupload {
    width: 100%;
  }
}
