button {
  color: red;
  margin: 20px;
  width: 20%;
  height: 30%;
  padding: 20px;
  font-size: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
